@media all {
    #wrapper-main {
        width: 100%;
        height: 100%;
        background: linear-gradient(hsla(0,40%,30%,0.5), hsla(105,35%,40%,0.5) 70%, rgba(0, 0, 0, 0.75) 95%), url(../image/Gray-Background-101.jpg);
        background-position:right bottom !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        max-width: 414px;
        max-height: 736px;
    }

    #wrapper-home {
        position: absolute;
        top: 0;
        left: 0;
        padding: 8px 16px 8px 24px;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        opacity: 0;
        max-width: 414px;
        max-height: 736px;
    }

    #wrapper-alarms {
        position: absolute;
        top: 0;
        left: 0;
        padding: 8px 16px 8px 24px;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        opacity: 0;
        max-width: 414px;
        max-height: 736px;
        overflow: hidden;
    }

    #wrapper-frame {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background-image: url(../image/Fake-Frame-101.png);
        background-position:left top;
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 414px;
        max-height: 736px;
    }

    #wrapper-logo {
        opacity: 0.75;
        letter-spacing: .075em;
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
        color: rgba(255, 255, 255, 1);
        max-width: 414px;
        max-height: 736px;
    }

    #wrapper-menus {
        position: absolute;
        top: -4px;
        right: 0;
        padding: 0 0 0 0;
        max-width: 414px;
        max-height: 736px;
    }
}
